<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="container-fluid bgImg">
	<div class="row-fluid">
		<div class="centering text-left">
			<div class="home-container">
				<h1 class="text-center">A Home Dinner Service</h1>
          		<hr />
         		<p style="text-align:left;margin-left:20px;margin-right:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut erat et quam efficitur feugiat eu id libero. Suspendisse a varius mi. Morbi dictum bibendum tellus, sed pulvinar lectus gravida eget. Vivamus pulvinar ligula odio, vel porttitor urna malesuada non.</p>
         		<p class="text-center">start quickly</p>
				<p class="text-center"><a href="#/search" class="btn btn-primary">Create new dinner</a></p>
			</div>
		</div>
	</div>

</div>